<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    footer {
      padding: 0px 0px 0px 0px;
      background-color: #212529;
      margin: 0px;
    }

    .fa {
      padding: 20px;
      font-size: 23px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }



    p {
      text-align: center;
      color:white;

    }
  </style>
</head>

<footer class=" bg-secondary text-light">

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="wow fadeInUp footer-copyright">
          <p>
            Copyright &copy;  - {% now 'Y' %} </p><br>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
