<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WFH - Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="{% static '/img/shape.png' %}" alt="" class="shape" />

        <header>
          <div class="container">
            <div class="logo">
              <img src="{% static '/img/ComLogo.png' %}" alt="Logo"/>
            </div>

            <div class="links">
              <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="adminlogin/" class="buton">Admin</a></li>
                <li><a href="employeelogin/" class="buton">Employee</a></li>
              </ul> 
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Enjoy a balanced life,</h1>
                <h1>work from home.</h1>
              </div>
              <p class="text">
                Work from home offers employees greater flexibility to balance work and personal life.Many employees find they are more productive without the distractions and commute associated with an office environment.!
              </p>
              <div class="cta">
                <a href="#" class="btn">Apply Here</a>
              </div>
            </div>

            <div class="right">
              <img src="{% static '/img/picture.png' %}" alt="Person Image" class="picture" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>
    {% include "newApp/footer.html" %}
    
    <!-- JavaScript Files -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="{% static '/js/index.js' %}"></script>
  </body>
</html>