{% extends 'employee/employeebase.html' %} 
{% load widget_tweaks %} 
{% block content %}
<style>
    .bg-c-blue {
        background: #104f66;
    }

    .bg-c-green {
        background: #4c51bf;
    }

    .bg-c-yellow {
        background: #53616e;
    }

    .bg-c-pink {
        background: #3186ca;
    }
    .containerr {
        height: 300px !important;
        width: 300px;
    }
    .container {
        justify-content: space-around;
        gap: 80px;
    }
    .table {
        width: 500px;
    }
    @media only screen and (max-width: 600px) {
        .container {
            display: grid !important;
        }
    }
</style>
<div class="container">
    <h1>DASHBOARD</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="admin-view-employee" class="text-white text-decoration-none">
                <div class="card bg-c-blue text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">Total Leave</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-user-graduate"></i><span>{{total_employee}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="admin-view-hr" class="text-white text-decoration-none">
                <div class="card bg-c-green text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">Pending Leaves</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-chalkboard-teacher"></i><span>{{total_hr}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="admin-view-Pending" class="text-white text-decoration-none">
                <div class="card bg-c-pink text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">AAAAAAA</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-book"></i><span>{{12}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br><br>
<div class="container d-flex">
    <div class="container mt-5">
        <h2 class="text-center">Monthly Leave Analysis</h2>
        <canvas id="leaveChart"></canvas>
    </div>

    <div class="container">
        <h2 class="text-center">Leave Analysis</h2>
        <div class="chart-container">
            <canvas id="leaveChart2"></canvas>
        </div>
    </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const leaveData = [];
        for (let i = 0; i < 12; i++) {
            leaveData.push(Math.floor(Math.random() * 10) + 1); // Random leave days between 1 and 10
        }
        // Setting up the chart
        const ctx = document.getElementById('leaveChart').getContext('2d');
        const leaveChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Leave Days',
                    data: leaveData,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 31 // Maximum days in a month
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return `Leave Days: ${context.raw}`;
                            }
                        }
                    }
                }
            }
        });
    {% comment %} For Circle Chart {% endcomment %}
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('leaveChart2').getContext('2d');
        var leaveChart2 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Used Leaves', 'Remaining Leaves'],
                datasets: [{
                    label: 'Leave Data',
                    data: [20, 30 - 20],  // Static data: used leaves and remaining leaves
                    backgroundColor: ['#FF6384', '#36A2EB'],
                    borderColor: '#fff',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw + ' days';
                            }
                        }
                    }
                }
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
{% endblock %}
