<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WFH</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
    }

    body {
      margin-left: 250px;
      margin-top: 80px;
      transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    section {
      padding: 20px;
    }

    header {
      width: 100%;
      height: 80px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      z-index: 200;
    }

    .icon__menu {
      width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .icon__menu i {
      font-size: 20px;
      color: #333;
    }

    .menu__side {
      width: 250px;
      height: 100%;
      background: #1783db;
      position: fixed;
      top: 0;
      left: 0;
      color: white;
      font-size: 20px;
      z-index: 300;
      overflow: hidden;
      overflow-y: auto;
      transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .menu__side::-webkit-scrollbar {
      display: none;
    }

    .menu__side {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .name__page {
      padding: 20px 30px;
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .name__page img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .options__menu {
      padding: 20px 40px;
      position: absolute;
      top: 80px;
    }

    .options__menu a {
      color: #ffffffb2;
      display: block;
      transition: color 300ms;
    }

    .options__menu a:hover {
      color: white;
      text-decoration: none;
    }

    .options__menu .option {
      padding: 20px 0px;
      display: flex;
      align-items: center;
    }

    .options__menu .option i {
      width: 20px;
      margin-right: 20px;
    }

    .options__menu .option h4 {
      font-weight: 300;
      transition: opacity 300ms;
    }

    a.selected {
      color: #fff;
    }

    .selected:before {
      content: "";
      width: 3px;
      height: 80%;
      background: white;
      position: absolute;
      top: 10%;
      left: -30px;
    }

    .body_move {
      margin-left: 80px;
    }

    .menu__side_move {
      width: 80px;
    }

    .menu__side_move .option h4 {
      opacity: 0;
      pointer-events: none;
    }

    @media screen and (max-width: 760px) {
      .body_move {
        margin-left: 0px;
      }

      .menu__side_move {
        width: 80px;
        left: -80px;
      }
    }
  </style>
</head>
<body id="body">
  <header>
    <div class="icon__menu">
      <i class="fas fa-bars" id="btn_open"></i>
    </div>
  </header>

  <div class="menu__side" id="menu_side">
    <div class="name__page">
      <img src="#" alt="" />
      <h4></h4>
    </div>

    <div class="options__menu">
      <a href="/employee_dashboard/" class="selected">
        <div class="option">
          <i class="fas fa-home" title="Home"></i>
          <h4>Home</h4>
        </div>
      </a>

      <a href="/employee_dashboard/profile-view/">
        <div class="option">
          <i class="fas fa-user" title="Portfolio"></i>
          <h4>Profile</h4>
        </div>  
      </a>

      <a href="#">
        <div class="option">
          <i class="far fa-envelope" title="About Us"></i>
          <h4>New Apply</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="fas fa-circle-notch" title="Blog"></i>
          <h4>Request</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="far fa-question-circle" title="Contact"></i>
          <h4>FAQs</h4>
        </div>
      </a>

      <a href="/">
        <div class="option">
          <i class="fas fa-sign-in-alt"></i>
          <h4>Logout</h4>
        </div>
      </a>
    </div>
  </div>

  <section>  
    {% block content %}{% endblock %}
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    // Execute function on click event
    document.getElementById("btn_open").addEventListener("click", open_close_menu);

    // Declare variables
    var side_menu = document.getElementById("menu_side");
    var body = document.getElementById("body");

    // Event to show and hide menu
    function open_close_menu() {
      body.classList.toggle("body_move");
      side_menu.classList.toggle("menu__side_move");
    }

    // If the page width is less than 760px, hide the menu when the page is reloaded
    if (window.innerWidth < 760) {
      body.classList.add("body_move");
      side_menu.classList.add("menu__side_move");
    }

    // Making the menu responsive
    window.addEventListener("resize", function () {
      if (window.innerWidth > 760) {
        body.classList.remove("body_move");
        side_menu.classList.remove("menu__side_move");
      }

      if (window.innerWidth < 760) {
        body.classList.add("body_move");
        side_menu.classList.add("menu__side_move");
      }
    });
  </script>
</body>
</html>
