<!-- employee/templates/employee/employee_list.html -->

{% extends 'newApp/adminbase.html' %}

{% block content %}
<h2>Employee List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Department</th>
            <th>Email ID</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.user.username }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.department }}</td> 
            <td>{{ employee.user.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
