<!-- hr/templates/hr/add_hr.html -->

{% extends 'newApp/adminbase.html' %}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% block content %}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 form-container">
                <h2 class="form-header text-center">Add HR </h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_first_name">First Name</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_last_name">Last Name</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_username">Username</label>
                            <input type="text" class="form-control" id="id_username" name="username" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_password">Password</label>
                            <input type="password" class="form-control" id="id_password" name="password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_emp_id">Employee ID</label>
                            <input type="text" class="form-control" id="id_emp_id" name="emp_id" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_email">Email Address</label>
                            <input type="email" class="form-control" id="id_email" name="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_profile_image">Profile Image</label>
                            <input type="file" class="form-control-file" id="id_profile_image" name="profile_image">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_name">Full Name</label>
                            <input type="text" class="form-control" id="id_name" name="name" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-custom btn-block">Add HR</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
