{% extends 'hr/hrbase.html' %} 
{% load widget_tweaks %} 
{% block content %}
<style>
    .bg-c-blue {
        background: #104f66;
      }
  
      .bg-c-green {
        background: #4c51bf;
      }
  
      .bg-c-yellow {
        background: #53616e;
      }
  
      .bg-c-pink {
        background: #3186ca;
      }
      @media only screen and (max-width: 600px) {
        .container{
            display:grid !important;
        }
      }
</style>
<div class="container">
    <h1>DASHBOARD</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="/admin-dashboard/employee-list/" class="text-white text-decoration-none">
                <div class="card bg-c-blue text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">Total Employee</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-user-graduate"></i><span>{{total_employee}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="hr-list/" class="text-white text-decoration-none">
                <div class="card bg-c-green text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">Total Hr</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-chalkboard-teacher"></i><span>{{total_hr}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="admin-view-Pending" class="text-white text-decoration-none">
                <div class="card bg-c-pink text-white h-100">
                    <div class="card-body">
                        <h6 class="mb-4">Pending Request</h6>
                        <h2 class="d-flex justify-content-between">
                            <i class="fas fa-book"></i><span>{{12}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br>
<div class="container">
  <h1>Recent Request</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for val in employee %}
          <tr>
            <td>{{val.firstname}}</td>
            <td>{{val.email}}</td>
            <td>{{val.phone}}</td>
            <td>Approved</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
{% endblock %}
