{% extends 'newApp/adminbase.html' %}

{% block content %}
<h2>HR List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for hr in hrs %}
        <tr>
            <td>{{ hr.emp_id }}</td>
            <td>{{ hr.user.username }}</td>
            <td>{{ hr.name }}</td>
            <td>{{ hr.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
